[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.0.2"
flask-restful = "*"
python-dotenv = "*"
flask-mongoengine = "*"
mongoengine = "*"
marshmallow = "*"
python-json-logger = "*"
flask-script = "2.0.5"

[dev-packages]

[requires]
python_version = "3.9"
